@font-face {
  font-family: Proxima;
  src: url(fonts/ProximaNovaRegular.otf);
}

@font-face {
  font-family: ProximaBold;
  src: url(fonts/ProximaNovaBold.otf);
}

@font-face {
  font-family: ProximaLight;
  src: url(fonts/ProximaNovaLight.otf);
}

@font-face {
  font-family: FontAwesome;
  src: url(fonts/FontAwesome.otf);
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Proxima", sans-serif;
}
.sidebar {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: calc(100vh - 120px);
  min-height: 600px;
}
.add-book {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  min-height: 90px;
  background-color: #1f2637;
}
.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ProximaBold", sans-serif;
  font-weight: bold;
  width: 185px;
  height: 44px;
  border-radius: 4px;
  background-color: #f2795a;
  color: #ffffff;
  text-transform: uppercase;
}
.add-button span {
  margin-right: 15px;
}

.separator {
  height: 4px;
  background-color: #181e2c;
  border-top: 1px solid #141824;
  border-bot: 1px solid #282f41;
}

.menu-sidebar {
  background-color: #1f2637;
  height: 220px;
}

.menu-sidebar-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #78829d;
  font-size: 13px;
  width: 250px;
  height: 35px;
}
.menu-sidebar-item a {
  text-decoration: none;
  color: #78829d;
}
.menu-sidebar-item span {
  font-family: "FontAwesome";
  font-size: 16px;
  margin-left: 20px;
  margin-right: 10px;
}
.menu-sidebar-item:hover a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #15a4fa;
}
.sort-by-dots {
  display: flex;
  flex-wrap: nowrap;
  background-color: #1f2637;
  height: auto;
}
.sort-by-dots ul {
  list-style-type: none;
}
.sort-by-dots li {
  cursor: pointer;
  display: flex;
  text-transform: capitalize;
  color: #78829d;
  font-size: 13px;
  margin: 18px;
  padding-top: 5px;
}
.sort-by-dots span {
  padding-right: 10px;
}
.red {
  color: #e64c66;
}
.yellow {
  color: #ffab00;
}
.blue {
  color: #00bfdd;
}
.purple {
  color: #7874cf;
}
.menu-history-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #1f2637;
  flex: 1;
  min-height: 600px;
}
.menu-history {
  display: flex;
  align-items: flex-start;
  padding: 20px 20px 0px 20px;
  color: #78829d;
  font-size: 13px;
}

.menu-history-icon {
  font-family: "FontAwesome";
  font-size: 18px;
  color: #78829d;
  display: block;
  flex: 0px 0px 20px;
  margin: 0px 6px 0px 0px;
}

.menu-history b {
  font-weight: 300;
  color: #97b3ce;
}

.menu-history span {
  display: block;
}

.menu-history span:nth-child(2n) {
  margin: 10px 0px 0px 0px;
}

.menu-plus-content-wrapper {
  display: flex;
}
